body{
font-family:Arial;
text-align:center;
background:#1e1e2f;
color:white;
}

.controls{
margin-bottom:20px;
}

button{
padding:10px 15px;
margin:5px;
font-size:16px;
cursor:pointer;
}

#board{
margin:auto;
display:grid;
gap:5px;
width:max-content;
}

.tile{
width:80px;
height:80px;
background:#4caf50;
display:flex;
align-items:center;
justify-content:center;
font-size:25px;
cursor:pointer;
}

.empty{
background:#222;
}